#radical{
    color: black;
    background: grey;
    font-size: 25px;
    text-shadow: 1px 1px 5px black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

#radical_active{
    color: red;
    background: yellow;
    font-size: 25px;
    text-shadow: 1px 1px 5px black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}
