#bushu {
    color: green;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    border-radius: 5px;
}

#bushu_inlist {
    color: red;
    background-color: yellow;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}
